/02-Fundamentals of Backend Architecture Design/geo-quiz/node_modules
/07-Cloud-Native development/s3-read-file/node_modules
07-Cloud-Native development/s3-read-file/.env
07-Cloud-Native development/uu-backendbook-user_accessKeys.csv
